# API ключи (замените на мои)
GIGACHAT_CREDENTIALS=MDE5Y2QzNTItYTFjYS03NzUxLTlkZjYtY2ZkNTllYWIxMjgyOmNlZTIwMzkwLTAwNDgtNGVlYy1iMzk2LTdkNzAyNmM4ZDY2MA==
TELEGRAM_BOT_TOKEN=8694009908:AAGshXSoLwSDkjYaD6Mq3iYIOfZrq--1ROc

# Настройки
CHUNK_SIZE=400
K_VALUE=3
